*{
    /* border: 2px solid blue; */

}

body{
    background-image:url("./squid\ 2.jpg");
    background-size:cover ;
    

}

#tbl th{
    padding: 0 20px 0 20px ;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    color: black;
}